.coverage
dist
ftp.ebi.ac.uk
ftp.ensembl.org
gwas2eqtl.egg-info/
gwas2eqtl.Rproj
gwas.mrcieu.ac.uk
.idea
logs
make.bat
Makefile
*.nbconvert.*
out
__pycache__
raw.githubusercontent.com
resources
results
.Rhistory
.Rproj.user
.snakemake
