*.nbconvert.*
.Rhistory
.Rproj.user
.coverage
.idea
.snakemake
Makefile
__pycache__
dist
eqtl2gwas.egg-info/
ftp.ebi.ac.uk
ftp.ensembl.org
gwas.mrcieu.ac.uk
gwastoeqtl.Rproj
gwastoeqtl.egg-info
logs
make.bat
out
raw.githubusercontent.com
resources
results